@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

body {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #c69f48;
  background-image: url("https://res.cloudinary.com/duprwuo4j/image/upload/v1612976404/979843_h7paog.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  font-family: "Archivo Black", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
